@import "vars.scss";
@import "fonts.scss";
@import "global.scss";
@import "tablet-640.scss";
@import "tablet-768.scss";
@import "tablet-1024.scss";
@import "tablet-1440.scss";

.header {
  background-color: $accent;
  &__inner {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu__btn {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: #fff;
  border: none;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background-color: $accent;
    top: 15px;
    left: 14px;
    box-shadow: 0 4px 0 0 $accent, 0 8px 0 0 $accent;
  }
}

.top {
  background-image: url("../images/bg-slider.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 193px;
}

.top-slider {
  background: rgba(33, 33, 33, 0.5);
  &__item {
    color: #fff;
    text-align: center;
    min-height: 193px;
  }
  &__title {
    font-family: "RobotoCondensed-Regular";
    font-size: 28px;
    line-height: 28px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 36px 0 28px;
    max-width: 243px;
    margin: 0 auto;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 61px;
      height: 8px;
      background-color: $text-color;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
  &__text {
    display: none;
  }
  &__btn {
    display: none;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    .slick-active {
      button {
        background-color: transparent;
        border: 1px solid #476e4d;
        outline: none;
      }
    }
    button {
      font-size: 0;
      border: none;
      background-color: $accent;
      padding: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin: 0 10px;
    }
  }
}

.call {
  background-color: $accent;
  padding: 40px 0;
  color: #fff;
  text-align: center;
  &__title {
    @extend %roboto-500;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 15px;
  }
  &__text {
    margin-bottom: 40px;
  }
  &__btn {
    padding: 16px 15px;
    background-color: $bg-color;
    color: $accent;
    font-size: 18px;
    @extend %roboto-500;
    border-radius: 3px;
    border: none;
    text-transform: uppercase;
  }
}

.services {
  padding: 25px 0 40px;
  text-align: center;
  color: $accent;
  &__title {
    margin-bottom: 47px;
  }
  &__descr {
    font-size: 20px;
    line-height: 24px;
    color: $text-color;
    margin-bottom: 21px;
  }
  &__text {
    color: #797979;
    font-size: 15px;
    line-height: 17px;
    margin-bottom: 40px;
  }
  &__item {
    min-height: 310px;
    border: 1px solid $bg-color;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:last-child {
      border-bottom: 1px solid $bg-color;
    }
  }
  &__item-img {
    margin-bottom: 30px;
  }
  &__item-title {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    color: $text-color;
  }
  &__item-text {
    display: none;
  }
  &__item-link {
    display: none;
  }
}
