@import "vars.scss";
@import "fonts.scss";

@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }

  .menu__btn {
    margin-right: 90px;
  }

  .top-slider {
    &__item {
      min-height: 668px;
    }
    &__title {
      padding-top: 107px;
      font-size: 96px;
      line-height: 96px;
      letter-spacing: 2px;
      max-width: 865px;
    }
    &__text {
      font-size: 24px;
      line-height: 26px;
      max-width: 886px;
    }
  }

  .call {
    &__inner {
      padding: 0 80px;
    }
    &__box {
      max-width: 796px;
    }
  }

  .slick-arrow {
    width: 70px;
    height: 70px;
  }
  .slick-prev {
    top: calc(50% - 70px);
  }
  .slick-next {
    bottom: calc(50% - 70px);
  }
}

.services {
  padding: 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__head {
    max-width: 350px;
    margin-right: 100px;
  }
  &__title {
    margin: 90px 0 70px;
    text-align: left;
  }
  &__descr {
    padding-bottom: 38px;
    margin-bottom: 35px;
  }
  &__item {
    width: 25%;
    min-height: 277px;
    padding: 0 17px;
    &:nth-child(2),
    &:nth-child(6) {
      border-right: none;
    }
    &:hover {
      padding: 0 17px;
      .services__item-inner {
        margin: 10px 0;
        padding: 21px 9px 5px;
        min-height: 255px;
      }
    }
  }
}
